:root {
  --bgColor: #191B22;
  --navColor: #606984;
  --cardColor: #353A49;
  --buttonColor: #ab47bc;
  --newColor: #38435a;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: white;
}
.card {
    border-radius: 25px;
}
.card-action {
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}
nav {
  top: 0 !important;
  background-color: var(--navColor) !important;
  z-index: 1000;
}

nav .brand-logo {
  margin-left: 15px;
  font-family: 'Oleo Script', cursive;
  font-size: 32px !important;
}

.row1 {
  margin-top: 25px;
}
.bordertopme {
  border-top: solid 1px var(--cardColor);
}

.row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr [col-start]);
  column-gap: 15px;
}
.dontflexme {
  margin-bottom: 15px;
}

.carder {
  color: white !important;
  background-color: var(--cardColor);
  display: flex;
  flex-direction: column;

}

.preloader-wrapper {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
}
.carder-image {
  width: 100%;
}

.change {
  height: 250px;
  width: 100%;
}
.mt {
  padding: 0 !important;
   margin-top: 25px !important;

}
.marginleft {
  margin-left: 20px !important;
}
.carder4 {
  display: flex !important;
  flex-direction: column !important;
}
.cardimages {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 75px !important;
  width: 75px;
}
.cardertitle {
  text-align: center !important;
}
.cardlinks {
  display: flex;
}
.cardlinks a {
    margin-left: auto !important;
    margin-right: auto !important;
}
.closer {
  color: red !important;
}
.focusme {
  box-shadow: none !important;
}
.focusme:hover {
  background-color: #ab47bc !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ba68c8 !important;
}
.referme {
position: relative;
overflow: scroll;
overflow-x: hidden;
}
.chatter {
  height: 100%;
  position: fixed;
  top: 0;
  right:0;
  width: 0;
  background-color: #eee;
  background-color: black;
  overflow: hidden;
  transition: 0.15s ease;
}

.activechat {
  width: 22%;
  z-index: 1002;
}

.chat {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left:0;
  height: 100%;
  width: 0;
  background-color: black;
  transition: ease 0.3s;
  z-index: 1000;
  overflow: hidden;
}

.activevideo {
  width: 78%;
  z-index: 1000;
}

.stream {
  margin-bottom: auto;
  height: 90%;
  width: 100%;
}
.videowrapper {
  display: flex;
}
.buttons {
  order: 0;
  display: flex;
  width: 15%;
  height: 65px;
}
.buttons a {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.streaminfo {
  order: 1;
  width: 85%;
  display: flex;
}
.streaminfo span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 37.5%;
}

.offcanv:hover {
  border: none !important;
  background-color: #e53935 !important;
}
.row3 {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.topstream {
  z-index: 1;
  background-color: var(--cardColor);
  height:100%;
  border-radius: 15px !important;
}
.streamcontainer {
  height: 670px;
  width: 100%;
  position: relative;
  overflow:hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index:1;
}

.topstream iframe {
  position:absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
.blocker {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.blocker * {
  margin-top: auto;
  margin-bottom: auto;
}
.topimage {
  order: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: 10px;
}
.featuredcontent {
  order: 1;
  display: flex;
  width: 100%;
  position: relative;
}

.row2 {
margin-top: 25px !important;
}
.helpme {
    background-color: var(--cardColor);
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}
.helpme span {
    margin-left: auto;
    margin-right: auto
}
.dropdown-content {
  background-color: var(--cardColor);
}
.dropdown-content * {
  color: white !important;
}
.dropdown-content *:hover {
  background-color: #494D5B !important;
}

.dropdown-content a li {
  border: 1px solid var(--cardColor);
}
.notify {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  transition: 0.5s ease;
  bottom: 25px;
  left: -500px;
  font-size: 24px;
  z-index: 9999;
}
.flexme{
  margin-bottom: 25px;
  width:225px;
  min-height: 100px;
  background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
  border-radius: 15px;
  display: flex;

}
.flexme span {
  margin: auto;
}
.act {
  left: 25px;
  z-index: 9999;
}
.modalList li {
  list-style-type: circle !important;
}
@media only screen and (max-width: 1400px) {
  .row2 {
      grid-template-columns: repeat(2, 1fr [column-start]);
  }
}
@media only screen and (max-width: 730px) {
  .row2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .carder {
    max-width: none;
  }
}
@media only screen and (max-width: 600px) {

.topStream {
  font-size: 14px;
}
.marginleft {
  margin-left: 10px !important;
}
.topimage {
  margin-top: 5px;
}
.buttorg a {
  position: none;
}
}
