:root {
  --bgColor: #191B22;
  --navColor: #606984;
  --cardColor: #353A49;
  --buttonColor: #ab47bc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav {
  position: sticky !important;
  top: 0 !important;
  background-color: var(--navColor) !important;
  position: -webkit-sticky;
  z-index: 1000;
}

nav .brand-logo {
  margin-left: 15px;
  font-family: 'Oleo Script', cursive;
  font-size: 32px !important;
}

.card-title {
font-weight: bold !important;
color: hsl(200, 25%, 94%) !important;
}
.row1 {
  margin-top: 25px;
}
.bordertopme {
  border-top: solid 1px var(--cardColor);
}
.card {
  color: white !important;
  background-color: var(--cardColor)
}
.card span {
  font-size: 35px;
}
.preloader-wrapper {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
}

.card img {
  height: 250px
}
.card-reveal {
  background-color: var(--cardColor) !important;
  color: #eee !important;
}
.mt {
  padding: 0 !important;
   margin-top: 25px !important;

}
.marginleft {
  margin-left: 20px !important;
}
.carder4 {
  display: flex !important;
  flex-direction: column !important;
}
.cardimages {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 75px !important;
  width: 75px;
}
.cardertitle {
  text-align: center !important;
}
.cardlinks {
  display: flex;
}
.cardlinks a {
    margin-left: auto !important;
    margin-right: auto !important;
}
.viewercount {
  font-size: 20px !important;
}
.closer {
  color: red !important;
}
.focusme {
  box-shadow: none !important;
}
.focusme:hover {
  background-color: #ab47bc !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ba68c8 !important;
}
.referme {
position: relative;
overflow: scroll;
overflow-x: hidden;
}
.chatter {
  height: 100%;
  position: fixed;
  top: 0;
  right:0;
  width: 0;
  background-color: #eee;
  background-color: black;
  overflow: hidden;
  transition: 0.15s ease;
}

.activechat {
  width: 22%;
  z-index: 1002;
}

.chat {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left:0;
  height: 100%;
  width: 0;
  background-color: black;
  transition: ease 0.3s;
  z-index: 1000;
  overflow: hidden;
}

.activevideo {
  width: 78%;
  z-index: 1000;
}

.stream {
  margin-bottom: auto;
  height: 90%;
  width: 100%;
}
.videowrapper {
  display: flex;
}
.buttons {
  order: 0;
  display: flex;
  width: 15%;
  height: 65px;
}
.buttons a {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.streaminfo {
  order: 1;
  width: 85%;
  display: flex;
}
.streaminfo span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 37.5%;
}
.offcanv {
  background-color: transparent;
}
.offcanv:hover {
  background-color: #e53935 !important;
}
.row3 {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.topstream {
  z-index: 1;
  background-color: var(--cardColor);
  height:100%;
  border-radius: 15px !important;
}
.streamcontainer {
  height: 670px;
  width: 100%;
  display: flex;
  overflow:hidden;
  z-index:1;
}

.topstream iframe {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.blocker {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.blocker * {
  margin-top: auto;
  margin-bottom: auto;
}
.topimage {
  order: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 10px;
}
.featuredcontent {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.buttorg {
  order: 2;
  width: 40%;
  display: flex;
  margin-left: auto;
}
.buttorg a {
  margin-left: auto;
  margin-right: 25px;
}
.header {
  display: flex;
  flex-direction: column;
}
.head2 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28px;
}
.head1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
}
.row2 {
margin-top: 25px !important;
}

.helpme {
  display: flex;
  height: 50px;
  text-align: center;
  width: 100%;
  background-color: var(--cardColor);
}
.helpme span  {
  margin: auto;
}

@media only screen and (max-width: 600px) {
.streamcontainer {
  height: 100%;
}

.topstream {
  height: 100%;
}
}
